@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* box-shadow: 0px 4px 4px -1px rgba(17, 23, 41, 0.05); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
    padding: 2.5rem;
}

header .fade,
header p {
    font-weight: 200;
}

header p {
    padding: 1rem;
}

.grid-container {
    margin-top: -2rem;
    width: auto;
    align-items: center;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    justify-content: center;
    column-gap: 1rem;
    justify-items: center;
}

.grid-container .supervisor,
.grid-container .teambuilder,
.grid-container .karma,
.grid-container .calculator {
    min-width: 12rem;
    max-width: 18rem;
    min-height: 12rem;
    max-height: auto;
    background-color: hsl(0, 0%, 100%);
    border-color: blue;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */

}

.grid-container .supervisor {
    border-top: 3px solid hsl(180, 62%, 55%);
    grid-column: 1;
    grid-row: 2;
}

.grid-container .teambuilder {
    border-top: 3px solid hsl(0, 78%, 62%);
    grid-column: 2;
    grid-row: 1;
}

.grid-container .karma {
    border-top: 3px solid hsl(34, 97%, 64%);
    grid-column: 2;
    grid-row: 3;

}

.grid-container .calculator {
    border-top: 3px solid hsl(212, 86%, 64%);
    grid-column: 3;
    grid-row: 2;
}

.grid-container p {
    font-weight: 200;
}

.grid-container img {
    display: block;
    width: 3.5rem;
    float: right;
    margin-top: 1rem
}

@media screen and (min-width: 320px) {
    .grid-container {
        margin-top: -2rem;
        width: auto;
        align-items: center;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 1rem;
        justify-items: center;
        row-gap: 1.5rem;
    }

    .grid-container .supervisor {
        border-top: 3px solid hsl(180, 62%, 55%);
        grid-column: 1;
        grid-row: 1;
    }

    .grid-container .teambuilder {
        border-top: 3px solid hsl(0, 78%, 62%);
        grid-column: 1;
        grid-row: 2;

    }

    .grid-container .karma {
        border-top: 3px solid hsl(34, 97%, 64%);
        grid-column: 1;
        grid-row: 3;


    }

    .grid-container .calculator {
        border-top: 3px solid hsl(212, 86%, 64%);
        grid-column: 1;
        grid-row: 4;
    }
}


/* Small Screen */
@media screen and (min-width: 620px) {
    .grid-container {
        margin-top: -2rem;
        width: auto;
        align-items: center;
        padding: 1.5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        justify-content: center;
        column-gap: 1rem;
        justify-items: center;
    }

    .grid-container .supervisor {
        border-top: 3px solid hsl(180, 62%, 55%);
        grid-column: 1;
        grid-row: 2;
    }

    .grid-container .teambuilder {
        border-top: 3px solid hsl(0, 78%, 62%);
        grid-column: 2;
        grid-row: 1;
        margin-bottom: -7rem;
    }

    .grid-container .karma {
        border-top: 3px solid hsl(34, 97%, 64%);
        grid-column: 2;
        grid-row: 3;
        margin-top: -7rem;

    }

    .grid-container .calculator {
        border-top: 3px solid hsl(212, 86%, 64%);
        grid-column: 3;
        grid-row: 2;
    }
}